{% extends "base.html" %}
{% block content %}
  <h2>{{ car.model }}</h2>
  <ul>
    <li>Manufacturer: <a href="{% url "taxi:manufacturers_by_index" pk=car.manufacturer.id %}">{{ car.manufacturer }}</a></li>
    <li>Drivers:
      {% if car.drivers %}
      <ul>
      {% for driver in car.drivers.all %}
        <li><a href="{% url "taxi:drivers_by_index" pk=driver.id %}">{{ driver.username }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
        There is no drivers
      {% endif %}
    </li>
  </ul>
{% endblock %}
